/* global */
body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}
h1,h2{
    text-align: center;
}
h3{
    text-align: left;
}
/* utilities */

/* header */
.title{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 3px 1px rgb(12, 131, 200);
    text-decoration: dotted;
    text-decoration-color: aliceblue;
}
/* main */